<div>
  <%= link_to 'ログ一覧', summarized_requests_path %>
</div>
<div>
  <%= link_to '監視対象パス一覧', watching_urls_path %>
</div>
<div>
  <%= link_to '監視対象パスグループ一覧', watching_url_groups_path %>
</div>
<hr>
<div>
  <%= link_to '取り込んだログ一覧', access_logs_path %>
</div>
