<!DOCTYPE html>
<html>
<head>
  <title>Response time viewer rails</title>
  <%= stylesheet_link_tag    "response_time_viewer/rails/application", media: "all" %>
  <%= javascript_include_tag "response_time_viewer/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id=main>
  <%= yield %>
</div>

</body>
</html>
